.aboutPage .infoContainer {
    background-color: var(--surface);
    border: var(--border);
    padding: var(--big-gap);
}

.aboutPage .generalInfoContainer {
    display: flex;
    align-items: center;
    gap: var(--big-gap);
}

.aboutPage .personalLifeContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.aboutPage .personalLifeContainer h2 {
    width: 80vw;
}

.aboutPage .personalLifeContainer p {
    flex: 1;
}