.aboutPage .infoContainer {
    background-color: var(--surface);
    border: var(--border);
    padding: var(--big-gap);
}

.aboutPage .generalInfoContainer {
    display: flex;
    align-items: center;
    gap: var(--big-gap);
}

.aboutPage .generalInfoImageContainer {
    flex: 0 0 400px;
}

.aboutPage .generalInfoImage {
    width: 100%;
    border: var(--border);
}

.aboutPage .personalLifeContainer {
    display: flex;
    gap: var(--big-gap);
    align-items: center;
}

.aboutPage .personalInfoImage {
    max-width: 400px;
    border: var(--border);
}