.bookConsultationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bookConsultationForm .inputField.time {
    display: none;
}

.bookConsultationForm .inputField.time.revealed {
    display: block;
}

.bookConsultationForm .timeInputPopUpDialog {
    min-width: 300px;
}

.react-datepicker__time-list-item--disabled {
    display: none;
}

.react-datepicker__time-list-item {
    list-style: none;
}

.react-datepicker {
    border: var(--border)!important;
    border-radius: 0!important;
}
