.footer {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    border-top: 1px solid black;
}

.footerMenuContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--small-gap);
}

.footerMenuItem {
    list-style: none;
}

.footerMenuLink {
    text-decoration: none;
}

.footerContactsContainer {
    display: flex;
    justify-content: space-between;
}

.footerAllRightsReservedLine {
    text-align: center;
}