@font-face {
    font-family: 'PlayfairDisplaySC';
    src: 
        local('PlayfairDisplaySC'),
        url('../fonts/PlayfairDisplaySC-Regular.ttf') format('truetype');
    }
    
@font-face {
    font-family: 'Jost';
    src: 
        local('Jost'),
        url('../fonts/Jost-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Novelist';
    src: 
        local('Novelist'),
        url('../fonts/Novelist_free.otf') format('opentype');
}



:root {
    --header-height: 10vh;
    --big-gap: 32px;
    --medium-gap: 16px;
    --small-gap: 8px;
    --max-content-width: 1200px;
    --side-padding-for-sections: max(7vw, calc((100vw - var(--max-content-width)) / 2));

    --primary: #95416d;
    --on-primary: #ffffff;
    --primary-container: #facae0;
    --on-primary-container: #3d0026;
    --background: #ebebeb;
    --on-background: #1f1a1c;
    --surface: #ffffff;
    --on-surface: #1f1a1c;
    --outline: #827378;
    --surface-variant: #f1dee3;
    --on-surface-variant: #504348;

    --inactive: lightgrey;
    --on-inactive: black;

    --border: 1px solid var(--outline);
    --border-radius: 0;

    /* --font-family-1: 'PlayfairDisplaySC'; */
    /* --font-family-1: 'Kepler'; */
    --font-family-1: 'Novelist';
    --font-family-2: 'Jost', sans-serif;

    --transition: all .5s ease-in-out;
    --transition-slow: all 1.5s ease-in-out;

    --shadow: 0 4px 8px rgba(0, 0, 0, 0.317);
    --shadow-active: 0 8px 16px rgba(0, 0, 0, 0.253);
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1, h2, p, span, a, div {
    color: var(--on-background);
    line-height: 1.5;
}

h1 {
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    font-family: var(--font-family-1);
    padding-bottom: var(--big-gap);
}

h2 {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    padding-top: var(--big-gap);
    padding-bottom: var(--big-gap);
    font-family: var(--font-family-1);
}

p, a, span, div {
    font-size: 20px;
    font-family: var(--font-family-2);
}

section {
    position: relative;
}

.sectionName {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.footer, .header, section {
    padding: var(--big-gap) var(--side-padding-for-sections);
    background-color: var(--background);
}

li {
    list-style-type: circle;
    list-style-position: inside;
}

/* Input fields */

input[type=text], input[type=tel], input[type=email], input[type=date], textarea {
    padding: var(--small-gap);
    font-size: 20px;
    font-family: var(--font-family-2);
    color: var(--on-background);
    line-height: 1.5;
}

input, input:focus, textarea, textarea:focus {
    border-radius: var(--border-radius);
    background-color: var(--surface);
    border: var(--border);
    outline: 0;
    transition: var(--transition);
    /* min-width: 300px; */
}

.inputField {
    width: 100%;
}

textarea {
    width: 100%;
    min-height: 200px;
}

.legalConsentCheckboxContainer {
    display: flex;
    align-items: center;
    gap: var(--medium-gap);
}

.legalConsentCheckbox {
    width: 40px;
    height: 40px;
}

.legalConsentLabel, .legalConsentLabel * {
    font-size: 16px;
}

.socialLinksContainer {
    justify-content: center;
    gap: var(--big-gap);
}

.form {
    width: min(100%, 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--medium-gap);
    padding-bottom: var(--big-gap);
}

/* Button */

.button {
    min-width: 229px;
    height: 50px;
    padding: var(--small-gap);
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    background-color: var(--primary-container);
    color: var(--on-primary-container);

    border: none;
    cursor: pointer;

    font-family: var(--font-family-1);
    font-size: 22px;
    text-transform: uppercase;

    box-shadow: var(--shadow);

    transition: var(--transition);

    &.inactive {
        background-color: var(--inactive);
        color: var(--on-inactive);
        cursor: no-drop;
    }


    .buttonLink {
        text-decoration: none;
        font-weight: 500;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
      
    .buttonBorder{
        position:absolute;
        background:none;
        transition: var(--transition);
    }
    
    .buttonBorder:nth-of-type(1){
        top:0;
        left:0;
        width:0;
        height:0;
        border-top: var(--border);
    }
      
    .buttonBorder:nth-of-type(2){
        top:0;
        right:0;
        width:10px;
        height:0;
        border-right: var(--border);
    }
      
    .buttonBorder:nth-of-type(3){
        bottom:0;
        right:0;
        width:0;
        height:0;
        border-bottom: var(--border);
    }
    
    .buttonBorder:nth-of-type(4){
        bottom:0;
        left:0;
        width:0;
        height:0;
        border-left: var(--border);
    }

    &:not(.inactive):hover {
        box-shadow: var(--shadow-active);
        transform: scale(1.05);

    }

    &:not(.inactive):hover .buttonBorder {
        &:nth-of-type(1n) {
            width:100%;
        }
        &:nth-of-type(2n){
            height:100%;
        }
    }
}

/* DIALOG */

.dialog {
    &[open] {
        border: var(--border);
        background-color: var(--surface);
        padding: var(--medium-gap);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        min-width: 50vw;
        min-height: 50vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--big-gap);
    }
    .dialogCloseButton {
        position: absolute;
        top: var(--medium-gap);
        right: var(--medium-gap);
        border: var(--border);
        background-color: var(--surface);
        display: flex;
    }
    &::backdrop {
        animation-name: dialogBackdropAnimation;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .dialogText {
        text-align: center;
        font-size: 22px;
    }
}

@keyframes dialogBackdropAnimation {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    100% {
        background-color: rgba(55, 49, 55, 0.587);
    }
} 

body:has(.dialog[open]) {
    overflow: hidden;
}