.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    border-bottom: 1px solid black;

    position: sticky;
    top: 0;
    z-index: 1;
}

.header .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logoLink {
    font-family: var(--font-family-1);
    font-size: 22px;
    text-decoration: none;
}

.header .headerMenuContainer {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
}

.header .headerMenuItem {
    list-style: none;
}

.header .headerMenuLink {
    text-decoration: none;
}

.header .button {
    width: 209px;
}