.homePage .heroSection {
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePage .problemsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--big-gap);
}

.homePage .problem {
    width: 180px;
    height: 180px;
    padding: var(--small-gap);

    border: var(--border);

    background-color: var(--surface);
    color: var(--on-surface);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.homePage .methodsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--big-gap);
}

.homePage .methodContainer {
    width: 500px;

    padding: var(--small-gap);

    border: var(--border);

    background-color: var(--surface);
    color: var(--on-surface);

    display: flex;
    justify-content: center;
    align-items: center;
}

.homePage .methodIcon {
    font-size: 100px;
}

.homePage .educationsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    gap: var(--big-gap);
}

.homePage .formatIcon {
    font-size: 200px;
    float: left;
}

.homePage .formatSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--big-gap);
}

.homePage .reviewsContainer {
    display: flex;
    justify-content: center;
    gap: var(--small-gap);
    flex-wrap: wrap;
}

.homePage .reviewContainer {
    width: 400px;
    display: grid;
    grid-template-columns: 120px 1fr;
    border: 1px solid black;
    align-items: center;
    justify-items: center;
}

.homePage .blogSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--small-gap);
}

.homePage .blogPostsContainer {
    display: flex;
    justify-content: center;
    gap: var(--small-gap);
    flex-wrap: wrap;
}

.homePage .blogPostContainer {
    width: 280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.homePage .blogPostIcon {
    font-size: 100px;
}

.homePage .blogPostName {
    text-align: center;
}

.homePage .bookSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage .bookForm {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}