.methodsPage .methodsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--big-gap);
}

.methodsPage .methodContainer {
    border: var(--border);
    background-color: var(--surface);
    padding: var(--big-gap);
    display: flex;
    justify-content: center;
    align-items: center;
}

.methodsPage .methodIcon {
    font-size: 100px;
}