.restaurantPage .heroSection {
    height: calc(100vh - var(--header-height));
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr;
    align-items: center;
}

.restaurantPage .heroSection h1 {
    grid-column: 1 / 3;
}

.restaurantPage .heroInfoContainer {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
}

.restaurantPage .heroButtonsContainer {
    display: flex;
    gap: var(--small-gap);
}

.restaurantPage .photosContainer {
    display: flex;
    justify-content: center;
}

.restaurantPage .chefContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurantPage .chefPhoto {
    flex-basis: 50%;
}

.restaurantPage .chefInfoContainer {
    flex-basis: 50%;
}

.restaurantPage .reserveTableSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
