.roomsPage .heroSection {
    height: calc(100vh - var(--header-height));
    display: grid;
    grid-template-rows: 50px 1fr;
    justify-content: center;
    align-items: center;
}

.roomsPage .heroInfoContainer {

    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--small-gap);
}

.roomsPage .roomsFeaturesSection ul {
    list-style-position: inside;
    text-align: center;
}

.roomsPage .roomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roomsPage .roomPhotoContainer {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roomsPage .roomInfoContainer {
    flex-basis: 50%;
}

.roomsPage .reserveSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}